html,
body {
  height: 100%;
  margin: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_bg {
  background: url("./Backgroundhero.jpg") center/cover no-repeat;
}

.wrapper  {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.file-input {
  display: none;
}

.file-label {
  background-color: #4CAF50;
  color: white;
  padding: 4px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.file-name {
  margin-left: 10px;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
